body{
	background-color: #fff
}

/******************/
/*    navigator   */
/******************/

.nav {
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 5px;
}

.nav a {
	color: #ffffff; 
	font-family: 'Gloria Hallelujah', serif;
	font-size: 20px;
	font-weight: bold;
	padding: 14px 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.nav li {
	display: inline;
}

.nav a:link {
	text-decoration: none;
	color: #000;
}

.nav a:visited {
	text-decoration: none;
	color: #000;
}

#logo a:hover {
	color: #000;
	text-shadow: none;
}

.nav a:hover {
	color: #000;
	text-shadow: 2px 2px 2px #F0F0F0;
}

.nav a:active {
	text-decoration: none;
	color: #000;
}

.nav .other {
	word-spacing: -7px;
}


/******************/
/*    jumbotron   */
/******************/

/*.jumbotron::after {
	content: "";
	top:20%;
	bottom:0;
	left:0;
	right:0;
	position: absolute;
	z-index: -1;
	clear: both;
	background-image: url('http://www.marinabaysands.com/images/hotel/rooms-suites/deluxe-room/gallery/skyparksunset3000x1730lite.jpg');
	background-size: 100% 100%;
	height: 500px;
	opacity:0.5;
}*/

.jumbotron {
	clear:both;
	background-color: #fff;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 560px;
	padding-top: 70px;
	padding-left: 40px;
}

.jumbotron li {
	display: inline;
	padding-right: 2%;
	font-family: 'Fjalla One', serif;
	font-size: 40px;
	text-shadow: 1px 1px 1px #aaa;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
}

.jumbotron ul {
	padding-top: 15%;
	text-align: center;
}

.jumbotron h1 {
	font-size: 40px;
}

.jumbotron p {
	padding-top: 40px;
	text-align: justify;
	font-family: 'Cabin', serif;
	padding-right: 50px;
}

#box1:hover {
	background: #FDD4E9;
}

#box2:hover {
	background: #F6FDD4;
}

#box3:hover {
	background: #CEFFD2;
}

/***************/
/*    slider   */
/***************/

#logo {
  position: relative;
}

#logo:after {
  display: block;
  position: absolute;
  left: 16%;
  bottom: 14px;
  width: 0;
  height: 4px;
  background-color: #000;
  content: "";
  transition: width 0.2s;
}

#logo:hover {
	color: #ffffff;
	text-shadow: 2px 2px 2px #F0F0F0;
}
#logo:hover:after {
  width: 60%;
}

/***********************/
/*    Other contents   */
/***********************/

#aboutme {
	background-color: #ffffff;
	padding-bottom: 300px;
}

#aboutme h1 {
  font-family: 'Quantico', serif;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 30px;
  font-weight: bold;
}

#aboutme p{
  display: block;
  font-color: #000000;
  font-family: 'Cabin', serif;
  font-size: 14px;
  width: 600px;
  text-align: justify;
  text-justify: inter-word;
  padding-left: 20px;
}

#mypicture {
	width: 25%;
	height: 25%;
	padding-left: 20px;	
	padding-bottom: 20px;
	padding-top: 20px;
	padding-right: 50px;
	border-radius: 130px;
	float: left;
}

.piano {
	background-color: #000000;
}

.piano h3 {
	color: #ffffff;
  	font-family: 'Cabin', serif;
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 10px;
}

.piano ul {
  list-style: none;
  padding-left:0;
  color: #ffffff;
  background-color: #000000;
  font-family: 'Cabin', serif;
  font-size: 14px;
  padding-bottom: 600px;

}

#pic1, #pic2, #pic3 {
	width: 300px;
	height: 200px;
	margin-top: 50px;
}


.fixed-size-square {
    display: table;
    border: 10px solid black;
    width: 250px;
    height: 250px;
    background: #fff;
}
.fixed-size-square span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: black
}

